<!DOCTYPE html>
<html>

<head>
    <title>Hacker News</title>
    <meta charset="utf-8">
</head>

<body>
    <div class="container">
        <div class="footer">
            <div class="row"><center>
                <a class="col-md-1" href="forum.html">
                    <h5 class="one"> </h5>
                </a>
                <a class="col-md-1" href="forum.html">
                    <h5 class="one">Guidelines </h5>
                </a>
                <a class="col-md-1" href="forum.html">
                    <h5 class="two">FAQ</h5>
                </a>
                <a class="col-md-1" href="forum.html">
                    <h5 class="three">Support </h5>
                </a>
                <a class="col-md-1" href="forum.html">
                    <h5 class="four">Lists</h5>
                </a>
                <a class="col-md-1" href="forum.html">
                    <h5 class="three">Legal </h5>
                </a>
                <a class="col-md-1" href="forum.html">
                    <h5 class="four">Contact </h5>
                </a>
        
                </li>
                </ul>
            </center></div>
</body>

</html>