body{
    background-color: whrite;
}
 
img.img{
padding-top: 5px 25px;
margin:9%;
width: 25px;
height: 25px;
border:solid 1px white;
}

div.one {
  background-color:rgb(255, 94, 0);
   text-indent: -5px;
}

div.footer{
    color:black;
    background-color:rgb(204, 190, 202);
   text-indent: -5px;
}

h5.one {
    position:left;
    color:black;
    border-right: 1px solid black;
}
h5.two {
    color:black;
    border-right: 1px solid black;
}
h5.three {
    color:black;
    border-right: 1px solid black;
}
h5.four {
    color:black;
    border-right: 1px solid black;
}
h5.five {
    color:black;
    border-right: 1px solid black;
}
h5.six {
    color:black;
}
h5.seven {
    color:black;
}

a.a{
  color: black;
}

a.b{
  color: black;
}

a.c{
  color: black;
}

a.d{
  color: black;
}

div.three {
   background-color:rgb(253, 246, 242);
}

div.four {
   background-color:rgb(253, 246, 242);
}

div.five {
   background-color:rgb(253, 246, 242);
}

div.six {
   background-color:rgb(253, 246, 242);
}



